### --- Java & Build Tools --- ###
# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# If you use the Maven Wrapper, uncomment the next line to ignore its jar
# .mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### --- IDE Specifics --- ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# Visual Studio Code
.vscode/

### --- Operating System Files --- ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Ehthumbs.db
Desktop.ini
